# ------------------------------------------------- #
# .exports                                          #
#                                                   #
# Collection of exports                             #
# ------------------------------------------------- #

export PERCOL="fzf"
